---
layout: default
title: ALP DOC Data hub
---

<h2>Pennsylvania State Correctional Institutions & COVID-19 Archive</h2>
<p>
  The primary goal of this project is to archive daily information relating to Pennsylvania State Correctional Institutions (SCI) and the spread of COVID-19 within them. The data available in this repository are publicly accessible through the <a href='https://www.cor.pa.gov/Pages/COVID-19.aspx'>Pennsylvania Department of Corrections.</a>, and are summarized by the <a href='https://app.powerbigov.us/view?r=eyJrIjoiNWQ5YTQ4ZWUtY2NjMi00ZWRhLTgyNWQtYzAzNzc5NmYwMGIyIiwidCI6IjQxOGUyODQxLTAxMjgtNGRkNS05YjZjLTQ3ZmM1YTlhMWJkZSJ9'>PA DOC Covid-19 Dashboard</a>. Inmate testing, positive cases, and more can be seen in this dashboard, however viewers are limited to daily snapshots of the SCI system, and cannot compare daily cases or other statistics necessary for understanding Covid-19 trends. No data can be downloaded through the DOC dashboard, further obfuscating Covid-19 related trends and patterns.
</p>

<p>
  We have archived various pieces of data important for tracking and understanding the spread of Covid-19 in Pennsylvania SCI. Our data begins April 6th, the first day the DOC began posting daily population and Covid-19 numbers to their website, and is updated at 6:00pm (EST) daily.
</p>

<h4>Current datasets</h4>
<ul>
  <li>Population counts for all SCI</li>
  <li>Covid-19 testing and results</li>
  <li>Monthly SCI capacity</li>
</ul>

<hr />

{% assign totalrow = site.data.most_recent_inmateData | where:"SCI","TOTAL" | first%}
<img src="data:image/png;base64,b\'\\xc6ioz\\xbb"\\xa2}tzw(v)\\xe0\\xba\\xd7\\xfc\\xb2\\xd6\\xa7u\\xa9h\\x9d\\xe9\\xe8\\x0c\\xe0\\x93`\\xf1,\\xbe\\x03\\xd4\\x04\\xb2\\x02\\xff\\xf5\\xb7\\x0b\\xff\\xc3L4\\x95\\x1b]\\x7f\\xfcCa\\xb6\\xda\\x7f\\xff\\x0c0\\xc3z+\\x83\\xf1\\xabj\\x98br\\xcf\\xd2To\\xf5\\xd7\\xf0\\xd3\\x0f\\xfb/\\x83]]\\xb5\\xd0\\xaby\\xab^w\\x08\\xad\\x86f\\xad\\xa6Z-\\x96&\\xe1\\xb6\\xdal\\xff\\xf9\\x9a\\xb6\\x99h\\xb6X\\x9b\\xa2\\xb8?\\xb2\\xf8!z(!\\xb7_)\\xb6\\xf7\\xab\\xb2*\\\'\\xd7[\\xe2{\\x00h\\xc7M6\\xf3\\xcd|\\xc2\\\'m\\x87o<\\xa6\\xdcf\\x96{\'"/>
<div class = "row" style='margin-bottom: 70px; margin-top: 70px'>
    <div class="col-sm-6" style="margin-left: 40px; border-right:1px solid black">
        <h2 class="text-left"><span>TOTAL INMATE TESTS: </span><span style="color:red">{{totalrow.inmate_tests}}</span></h2>
        <h2 class="text-left"><span>CURRENT INMATE CASES: </span><span style="color:red">{{totalrow.inmate_current_cases}}</span></h2>
        <h2 class="text-left"><span>TOTAL INMATE DEATHS: </span><span style="color:red">{{totalrow.inmate_death}}</span></h2>
    </div>

</div>

<table id="SCItable" class="table table-sm" cellspacing="0" width="100%">
    <thead class='thead-dark'>
        <th class= "th-sm">SCI NAME</th>
        <th class= "th-sm">DAILY CASES TREND</th>
        <th class= "th-sm">CURRENT INMATE CASES</th>
        <th class= "th-sm">INMATE DEATHS</th>
        <th class= "th-sm">INMATE TESTS</th>

        {% for sci in site.data.most_recent_inmateData %}
        {% if sci.SCI != "TOTAL" %}
        <tr>
            <td class='th-sm'>{{sci.SCI}}</td>
            <td class='th-sm'><img height='45px' src="{{site.baseurl}}/assets/img/table_rolling_cases_figs/{{sci.SCI}}_rolling_avg.svg"/></td>
            <td class='th-sm'>{{sci.inmate_current_cases}}</td>
            <td class='th-sm'>{{sci.inmate_death}}</td>
            <td class='th-sm'>{{sci.inmate_tests}}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </thead>
</table>
