---
layout: default
title: ALP DOC Data hub
---

<table id="SCItable" class="table table-sm display" cellspacing="0" width="100%">

    <thead class='thead-dark'>
        <th class= "th-sm">SCI</th>
        <th class= "th-sm">Daily cases trend</th>
        <th class= "th-sm">Current incarcerated person cases</th>
        <th class= "th-sm">Incarcerated person deaths</th>
        <th class= "th-sm">Incarcerated person tests</th>
    </thead>
        {% for sci in site.data.most_recent_inmateData %}
        {% if sci.SCI != "TOTAL" %}
        <tr id="{{ sci.SCI | replace: ' ', '_' }}">
                <td class='th-sm' class="sci_name">{{sci.SCI}}</td>
                <td class='th-sm' class="sparkline"></td>
                <td class='th-sm' class="current_ip_cases"></td>
                <td class='th-sm' class="ip_deaths"></td>
                <td class='th-sm' class="ip_tests"></td>
        </tr>
        {% endif %}
        {% endfor %}
</table>
