body.offcanvas-active{
  overflow:hidden;
}
.offcanvas-header{ display:none; }

@media (max-width: 992px) {
  .offcanvas-header{ display:block; }
  .navbar-collapse {
	position: fixed;
	top:0;
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: white;
	transition: visibility .2s ease-in-out, transform .2s ease-in-out;
  }
  .navbar-collapse.show {
	visibility: visible;
	transform: translateX(-100%);
  }
}
.total-data-box {
	padding-left: 15px;
	padding-bottom: 15px;
}

body {
	background-color:#F8F8F8
}


.sparkline {
        fill: none;
        stroke: rgba(0, 0, 204, 0.6);
        stroke-width: 1.5;
        fill: "none";
      }

.sparkcircle {
    fill: #f00;
    stroke: #f00;
    stroke-width: 1;
}

.maxline {
  stroke: rgba(0, 0, 0, 0.6);
}

.maxlabel {
  font-size: 10px;
  fill: rgba(0, 0, 0, 0.6);
  font-family: sans-serif;
  stroke: rgba(0, 0, 0, 0.6);
  stroke-width: 0.6;
}

.datelabel {
  font-size: 8px;
  fill: rgba(0, 0, 0, 0.6);
  stroke: rgba(0, 0, 0, 0.6);
  stroke-width: 0.4;

}

table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: normal;
    margin-right:0;
}
