<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{page.title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" type="text/javascript"></script>
  <link rel='stylesheet' href="{{site.baseurl}}/assets/css/style.css"
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.1.1/d3.js"></script>

  <script type="text/javascript">
  /// some script
  $(function () {
  	  'use strict'

  	$("[data-trigger]").on("click", function(){
          var trigger_id =  $(this).attr('data-trigger');
          $(trigger_id).toggleClass("show");
          $('body').toggleClass("offcanvas-active");
      });

      // close if press ESC button
      $(document).on('keydown', function(event) {
          if(event.keyCode === 27) {
             $(".navbar-collapse").removeClass("show");
             $("body").removeClass("overlay-active");
          }
      });

      // close button
      $(".btn-close").click(function(e){
          $(".navbar-collapse").removeClass("show");
          $("body").removeClass("offcanvas-active");
      });


  })
  </script>


  <style type="text/css">

      body.offcanvas-active{
      	overflow:hidden;
      }
      .offcanvas-header{ display:none; }

      @media (max-width: 992px) {
        .offcanvas-header{ display:block; }
        .navbar-collapse {
          position: fixed;
          top:0;
          bottom: 0;
          left: 100%;
          width: 100%;
          padding-right: 1rem;
          padding-left: 1rem;
          overflow-y: auto;
          visibility: hidden;
          background-color: white;
          transition: visibility .2s ease-in-out, transform .2s ease-in-out;
        }
        .navbar-collapse.show {
          visibility: visible;
          transform: translateX(-100%);
        }
      }
      .total-data-box {
          padding-left: 15px;
          padding-bottom: 15px;
      }

  </style>
</head>
<body style='background-color:#F8F8F8'>
    {% assign totalrow = site.data.most_recent_inmateData | where:"SCI","TOTAL" | first%}


    <!-- ========================= SECTION CONTENT ========================= -->
    <div class='container-fluid' style='background-color:white'>
        <nav class="navbar navbar-expand-lg navbar-light">
          <p class="navbar-brand"></p>
          <button class="navbar-toggler" type="button" data-trigger="#main_nav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse" id="main_nav">

        <div class="offcanvas-header mt-3">
        	<button class="btn btn-outline-danger btn-close float-right"> &times Close </button>
        </div>

        <ul class="navbar-nav">
        	<li class="nav-item active"> <a class="nav-link" href="#">Home </a> </li>
        	<li class="nav-item"><a class="nav-link" href="#"> Get the data </a></li>
        	<li class="nav-item"><a class="nav-link" href="#"> About/Methods </a></li>
        	<li class="nav-item"><a class="nav-link" href="#"> Projects </a></li>
            <li class="nav-item"><a class="nav-link" href="#"> Contacts </a></li>
        </ul>
          </div> <!-- navbar-collapse.// -->
        </nav>



        <div class='row justify-content-center'>
            <img src="{{site.baseurl}}/assets/img/ALP_logo_primary_2color_RGB_HiRes.png" height='150px' style="margin: 20px 20px 20px 20px">
        </div>
        <div class="row justify-content-center">
                <h1 style='text-align:center'>Pennsylvania Prison System COVID-19 Tracker</h1>
        </div>


        <hr />

        <div class="row justify-content-center">
            <div class='col-sm-10 col-md-8'>
                <p style="text-align:center; font-style:italic">Since the beginning of the
                     pandemic the Amistad Law Project has tracked COVID-19's spread through
                     the Pennsylvania state prison system. Prisons are high-risk environments,
                     often overcrowded and poorly ventilated. The care of incarcerated people
                     by the state must be monitored and understood as this pandemic continues to
                     impact this vulnerable population.</p>
            </div>
        </div>

    </div>
    <div class='container-fluid' style='padding: 40px'>
        <div class='row justify-content-center'>
            <div class='col-11' style='background-color:white;'>
                <div class='row' style='padding:20px'>
                    <b style="color:grey">Totals Since March</b>
                </div>
                <div class='row justify-content-center' style='margin-bottom:15px'>
                    <h4 style='text-decoration:underline'>Incarcerated People</h4>
                </div>
                <div class='row' style='margin-bottom:15px'>
                    <div class='col-4' style='text-align:center'>
                        <b style='text-decoration: underline;text-decoration-color: #0b544e;'>Tests:</b>
                        </br>
                        <h4>234</h4>
                    </div>
                    <div class='col-4' style='text-align:center'>
                        <b style='text-decoration: underline;text-decoration-color: #FCBF49;'>Cases:</b>
                        </br>
                        <h4>234</h4>
                    </div>
                    <div class='col-4' style='text-align:center'>
                        <b style='text-decoration: underline;text-decoration-color: #D62828;'>Deaths</b>
                        </br>
                        <h4>3243</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class='row justify-content-center'>
            <div class='col-11' style='background-color:white;'>
                <div class='span-12' id='chartArea' style='background-color:white; padding:2%'>

                </div>
            </div>

        </div>

        <div class="row justify-content-center" style='margin-top:20px'>
            <div class='col-11' style='background-color:white; padding:15px;'>
                {{content}}
            </div>
        </div>
    </div>

    <script>
    $(document).ready( function () {
        $('#SCItable').DataTable();
    } );

    var svg = d3.select('#chartArea').append('svg')
        .attr("height",200);

    var parseDate = d3.timeParse("%Y-%m-%d");

d3.csv("{{site.baseurl}}/data/latest_data/PA_DOC_testing_data.csv",function(data){

    var data_summarized = d3.nest()
        .key(function(d){return d.date})
        .rollup(function(d){
            return d3.sum(d, function(g){return g.inmate_positive_D;})
        }).entries(data);

    data_summarized.forEach(function(d){
            d.date = parseDate(d.key);
            d.new_cases = parseFloat(d.value);
        });

    var x = d3.scaleLinear()
        .domain(d3.extent(data_summarized, function(d) { return d.date;}));

    var y = d3.scaleLinear()
        .range([150, 0])
        .domain(d3.extent(data_summarized, function(d) { return d.value;}));

        var xAxis = svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + (180) + ")");

    svg.append("g")
        .attr("class", "y axis")
        .call(d3.axisLeft(y));

    var line = svg.append("path")
      .data([data_summarized])
      .attr("class", "line")
      .style('fill','none')
      .style('stroke','black')
      .style('stroke-width','2px');

    function drawChart() {
        currentWidth = parseInt(d3.select('#chartArea').style('width'));
        svg.attr('width',currentWidth);
        console.log(currentWidth);
        x.range([0,currentWidth]);
        xAxis.call(d3.axisBottom(x)
            .tickFormat(d3.timeFormat("%b"))
            .ticks(6))
        .selectAll("text");

        var valueline = d3.line()
            .x(function(d) { return x(d.date); })
            .y(function(d) { return y(d.value); })
            .curve(d3.curveMonotoneX);

        line.attr("d", valueline);
    };

    drawChart();
    window.addEventListener('resize', drawChart );
  });



    </script>
</body>
</html>
