<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{page.title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" type="text/javascript"></script>
  <link rel='stylesheet' href="{{site.baseurl}}/assets/css/style.css"/>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

  <script type="text/javascript">
  /// some script
  $(function () {
  	  'use strict'

  	$("[data-trigger]").on("click", function(){
          var trigger_id =  $(this).attr('data-trigger');
          $(trigger_id).toggleClass("show");
          $('body').toggleClass("offcanvas-active");
      });

      // close if press ESC button
      $(document).on('keydown', function(event) {
          if(event.keyCode === 27) {
             $(".navbar-collapse").removeClass("show");
             $("body").removeClass("overlay-active");
          }
      });

      // close button
      $(".btn-close").click(function(e){
          $(".navbar-collapse").removeClass("show");
          $("body").removeClass("offcanvas-active");
      });


  })
  </script>


  <style type="text/css">

      body.offcanvas-active{
      	overflow:hidden;
      }
      .offcanvas-header{ display:none; }

      @media (max-width: 992px) {
        .offcanvas-header{ display:block; }
        .navbar-collapse {
          position: fixed;
          top:0;
          bottom: 0;
          left: 100%;
          width: 100%;
          padding-right: 1rem;
          padding-left: 1rem;
          overflow-y: auto;
          visibility: hidden;
          background-color: white;
          transition: visibility .2s ease-in-out, transform .2s ease-in-out;
        }
        .navbar-collapse.show {
          visibility: visible;
          transform: translateX(-100%);
        }
      }
      .total-data-box {
          padding-left: 15px;
          padding-bottom: 15px;
      }

  </style>
</head>
<body style='background-color:#F8F8F8'>

    <!-- navbar -->
    <div class='container-fluid' style='background-color:white'>
        <nav class="navbar navbar-expand-lg navbar-light">
          <p class="navbar-brand"></p>
          <button class="navbar-toggler" type="button" data-trigger="#main_nav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse" id="main_nav">

            <div class="offcanvas-header mt-3">
            	<button class="btn btn-outline-danger btn-close float-right"> &times Close </button>
            </div>

            <ul class="navbar-nav">
            	<li class="nav-item active"> <a class="nav-link" href="#">Home </a> </li>
            	<li class="nav-item"><a class="nav-link" href="#"> Get the data </a></li>

            </ul>
          </div>
        </nav>

        <!-- Header content  -->
        <div class='row justify-content-center'>
            <img src="{{site.baseurl}}/assets/img/ALP_logo_primary_2color_RGB_HiRes.png" height='150px' style="margin: 20px">
        </div>
        <div class="row justify-content-center">
                <h1 style='text-align:center'>Pennsylvania Prison System COVID-19 Tracker</h1>
        </div>


        <hr />

        <div class="row justify-content-center">
            <div class='col-sm-10 col-md-8'>
                <p style="text-align:center; font-style:italic">Since the beginning of the pandemic the Amistad Law Project has tracked COVID-19's spread through the Pennsylvania state prison system and advocated for a dramatic reduction of the prison population to reduce the harm of the virus to incarcerated people and staff. Prisons are high-risk environments, often overcrowded and poorly ventilated where social distancing is impossible. The lack of care of incarcerated people by the state must be monitored, understood and chalenged as this pandemic continues to impact this vulnerable population. It is within the Governor’s power to expand his reprieve order and reduce the prison population so people can single cell and social distance, and in doing so save lives.</p>
            </div>
        </div>

    </div>


    <!-- Main content -->
    <div class='container-fluid' style='padding: 40px'>

        <!-- totals and total plot -->
        <div class='row justify-content-center'>
            <div class='col-sm-11 col-xs-12' style='background-color:white;'>
                <div class='row' style='padding:20px'>
                    <b style="color:grey">Totals Since March</b>
                </div>
                <div class='row justify-content-center' style='margin-bottom:15px'>
                    <h4 style='text-decoration:underline'>Incarcerated People</h4>
                </div>
                <div class='row' style='margin-bottom:30px'>
                    <div class='col-4' style='text-align:center'>
                        <b style='text-decoration: underline;text-decoration-color: #0b544e;'>Tests:</b>
                        </br>
                        <h4 id="current_tests"></h4>
                    </div>
                    <div class='col-4' style='text-align:center'>
                        <b style='text-decoration: underline;text-decoration-color: #FCBF49;'>Cases:</b>
                        </br>
                         <h4 id="current_cases"></h4>
                    </div>
                    <div class='col-4' style='text-align:center'>
                        <b style='text-decoration: underline;text-decoration-color: #D62828;'>Deaths:</b>
                        </br>
                        <h4 id="current_deaths"></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class='row justify-content-center'>
            <div class='col-sm-11 col-xs-12 justify-content-center' style='background-color:white; padding:0'>
                <div class='col-lg-8 offset-lg-2 col-sm-12' id='chartArea' style='margin:0;'></div>
                </div>
        </div>

        <!-- SCI Table -->
        <div class="row justify-content-center" style='margin-top:20px'>
            <div class='col-sm-11 col-xs-12' style='background-color:white;'>
                {{content}}
            </div>
        </div>
    </div>

    <script>

    $(document).ready( function () {
        $('#SCItable').DataTable();
    } );

    var svg = d3.select('#chartArea').append('svg')
        .attr("height",300);

    var parseDate = d3.timeParse("%Y-%m-%d");
    var bisectDate = d3.bisector(function(d) { return d.date; }).left;

    var movingWindowAvg = function (arr, step) {  // Window size = 2 * step + 1
        return arr.map(function (_, idx) {
        var wnd = arr.slice(idx - step, idx + step + 1);
        var result = d3.sum(wnd) / wnd.length;

        // Check for isNaN, the javascript way
        result = (result == result) ? result : _;

        return result;
        });
    };

    d3.csv("{{site.baseurl}}/data/latest_data/PA_DOC_testing_data.csv").then(function(data){



        // daily sums
        var summary_data = d3.rollups(data, v => ({
                            'current_cases': d3.sum(v, d => d.inmate_positive),
                            'current_deaths': d3.sum(v, d => d.inmate_death),
                            'current_tests': d3.sum(v, d => (+d.inmate_positive) + (+d.inmate_negative) + (+d.inmate_pending))
                          }),d=>d.date);

        // most recent numbers
        var current_cases = summary_data[summary_data.length-1][1].current_cases;
        var current_deaths = summary_data[summary_data.length-1][1 ].current_deaths;
        var current_tests = summary_data[summary_data.length-1][1 ].current_tests;

         d3.select('#current_cases').text(current_cases);
         d3.select('#current_deaths').text(current_deaths);
         d3.select('#current_tests').text(current_tests);


         // daily new cases
         var data_summarized = d3.rollup(data, v => d3.sum(v, d => d.inmate_positive_D),
                                         d => d.date);

         var data_summarized2 = Array.from(data_summarized, ([key, value]) => ({key, value,
                                                                         'date': parseDate(key),
                                                                           'new_cases': value
                                                                       }));

        const cases_moving_avg = movingWindowAvg(data_summarized2.map(a => a.new_cases),7);


        data_summarized2.forEach((d,i) => {d.cases_moving_avg = cases_moving_avg[i];})

        console.log(data_summarized2);

        // d3 scaling
        var x = d3.scaleLinear()
            .domain(d3.extent(data_summarized2, d => d.date));

        var x_bar = d3.scaleBand();

        var y = d3.scaleLinear()
            .range([250, 50])
            .domain(d3.extent(data_summarized2, d => d.value));

        // x axis
        var xAxis = svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + (250) + ")");

        // y axis
        svg.append("g")
            .attr("class", "y axis")
            .attr('transform',"translate(25, 0)")
            .call(d3.axisLeft(y)
            .ticks(5));

        // bar graph
        var bars = svg.append('g')
            .selectAll('rect')
            .data(data_summarized2)
            .enter()
            .append('rect')
            .style('fill','#ffb3b3')
            .attr('y',d => y(d.new_cases))
            .attr("height", d => 250 - y(d.new_cases));

        var line = svg.append("path")
          .data([data_summarized2])
          .attr("class", "line")
          .style('fill','none')
          .style('stroke','#6f1616')
          .style('stroke-width','2px');

        // legend start
        svg.append('rect')
            .attr('y',10)
            .attr('x',10)
            .attr('width',10)
            .attr('height',10)
            .attr('fill','#ffb3b3');

        svg.append('text')
            .attr('y',20)
            .attr('x',25)
            .text('Daily cases')
            .style('color','black')
            .style('font-size',12);

        svg.append('rect')
            .attr('y',14)
            .attr('x',100)
            .attr('width',15)
            .attr('height',3)
            .attr('fill','#6f1616');

        svg.append('text')
            .attr('y',20)
            .attr('x',120)
            .text('7 day average')
            .style('color','black')
            .style('font-size',12);

        // tooltip
        var tooltip = svg.append("g")                                // **********
            .style("display", "none");

        // tooltip node
        var tooltip_node = tooltip.append('circle')
            .attr('r',3)
            .style('stroke','#ffb3b3')
            .style('fill','#6f1616');

        var pointer_rect = svg.append("rect")                                     // **********                           // **********
            .attr("height", 250)                            // **********
            .style("fill", "none")                             // **********
            .style("pointer-events", "all")                    // **********
            .on("mouseover", function() { tooltip.style("display", null); })
            .on("mouseout", function() { tooltip.style("display", "none"); })
            .on("mousemove", mousemove);

        function mousemove(){
            var x0 = x.invert(d3.pointer(this)[0]),
            i = bisectDate(data, x0, 1),
            d0 = data_summarized2[i - 1],
            d1 = data_summarized2[i],
            d = x0 - d0.date > d1.date - x0 ? d1 : d0;
            console.log(x0);
            console.log(d);
            tooltip_node.attr("transform",                             // **********
                  "translate(" + x(d.date) + "," +         // **********
                                 y(d.cases_moving_avg) + ")")

        };

        function drawChart() {
            // function draws chart and updates on window resize

            currentWidth = parseInt(d3.select('#chartArea').style('width'));
            svg.attr('width',currentWidth);
            x.range([25,currentWidth - 30]);

            xAxis.call(d3.axisBottom(x)
                .tickFormat(d3.timeFormat("%b %d"))
                .ticks(4))
            .selectAll("text");

            pointer_rect.attr('width',currentWidth);

            var valueline = d3.line()
                .x(d => x(d.date))
                .y(d => y(d.cases_moving_avg))
                .curve(d3.curveMonotoneX);

            bars.attr("x", d => x(d.date))
              .attr("width", x_bar.bandwidth());

            line.attr("d", valueline);
        };

        drawChart();
        window.addEventListener('resize', drawChart );
      });



    </script>
</body>
</html>
